<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ChannelID" value="141391" />
    <add key="ReadAPIKey" value="Q3I72D01CDREE7D1" />
    <add key="SMTPServer" value="smtp.live.com" />
    <add key="Port" value="587" />
    <add key="EnableSSL" value="true" />
    <add key="Sender" value="thequy@hotmail.com" />
    <add key="Password" value="Zxcvbnm123" />
  </appSettings>
</configuration>